body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
}

.article-1{
  width: 1440px;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.text{
  /* border: 1px solid black; */
  text-align: center;
  color: #333;
  background-color: #c5c5c5;
  margin: 0px;
  padding: 10px;
}

/* Hero Section Styles */
.hero {
  width: 100%;
}

.hero img {
  width: 100%;
}

/* Main Section Styles */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.aside {
  width: 40%;
  box-shadow: 0px 0px 3px black;
  padding: 0;
  text-align: center;
}



.aside img,
.article img {
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.box-1,.box-2 {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: fit-content;
  /* margin: 8px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.card:hover{
  transform: scale(1.025);
  background-color: #d9d9d9;
  transition: 300ms;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

footer{
  background-color: #333;
  color: #ccc;
  padding: 20px;
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .main {
    flex-direction: column;
  }

  .navbar {
    justify-content: center;
  }

  .aside {
    width: 100%;
    padding: 0;
  }

  .aside p {
    padding: 8px;
  }

  .card {
    width: 100%;
  }
  .article{
    width: 100%;
  }
}
